

<div>
    <form name="changePassForm" ng-submit="changePass.updatePass()">

        <md-input-container class="md-block" flex-gt-xs>
            <label>Old Password</label>
            <input type="password" ng-model="changePass.user.oldPass" name="oldPass" required>
        </md-input-container>

        <span style="color: red" ng-show="changePassForm.oldPass.$invalid && changePassForm.oldPass.$dirty">
                        <span ng-show="changePassForm.oldPass.$error.required">Old Password is required</span>
        </span>

        <md-input-container class="md-block" flex-gt-xs>
            <label>New Password</label>
            <input type="password" ng-model="changePass.user.newPass" name="newPass" required>
        </md-input-container>

        <span style="color: red" ng-show="changePassForm.newPass.$invalid && changePassForm.newPass.$dirty">
                        <span ng-show="changePassForm.newPass.$error.required">New Password is required</span>
        </span>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Confirm Password</label>
            <input type="password" ng-model="changePass.user.cnfrmPass" name="cnfrmPass" required>
        </md-input-container>

        <span style="color: red" ng-show="changePassForm.cnfrmPass.$invalid && changePassForm.cnfrmPass.$dirty">
                        <span ng-show="changePassForm.cnfrmPass.$error.required">Confirm Password is required</span>
        </span>

        <md-button type="submit" class="md-raised md-primary" ng-disabled="changePassForm.$invalid">Update</md-button>

    </form>
    <br><br>
    <md-progress-circular class="md-hue-2" md-mode="indeterminate" md-diameter="100px" ng-show="changePass.loader"></md-progress-circular>
</div>