
<div ng-cloak>
    <md-content>
        <h3>Updating DA</h3>

        <md-button class="md-raised md-primary" ng-click="updateDA.updateAllDa()">Update DA</md-button>
    </md-content>


    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="updateDA.loader">
        <md-progress-circular md-mode="indeterminate" md-diameter="150px"></md-progress-circular>
        <span class="md-display-3">{{(updateDA.updatedError + updateDA.updateDalength) * 100/updateDA.totalLength | number : 0}} %</span>
    </div>
</div>