

<div>
    <h1>Search Blogs Dashboard</h1>

    <button ng-click="searchBlogs.exportExcelFile()">Export</button>

    <div id="exportable">
        <table width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>DoB</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in searchBlogs.items">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.dob | date:'MM/dd/yy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>