

<div>
    <h1>Search Blogs Dashboard</h1>

    <button ng-click="searchBlogs.exportExcelFile()">Export</button>

    <md-input-container class="md-block" flex-gt-sm>
        <label>Select</label>
        <md-select ng-model="searchBlogs.val">
            <md-option ng-repeat="(searchKey,searchVal) in searchBlogs.searchBy" value="{{searchKey}}" ng-click="searchBlogs.checkSelectedItem(searchKey)">
                <md-checkbox ng-model="searchBlogs.selectedItem[searchKey]">
                    {{searchVal}}
                </md-checkbox>
            </md-option>
        </md-select>
    </md-input-container>


    <form name="searchForm">
        <!--Blog URL-->
        <div ng-if="searchBlogs.selectedItem.blogUrl">
            Blog URL :
            <md-input-container>
                <md-input-container>
                    <label>Blog URL</label>
                    <input name="blogUrl" ng-model="searchBlogs.blog.blogUrl">
                </md-input-container>
            </md-input-container>
        </div>
        <!--<span style="color: red" ng-show="searchForm.blogUrl.$invalid && searchForm.blogUrl.$dirty">
                        <span ng-show="searchForm.blogUrl.$error.required">Blog Url is required</span>
        </span>-->
        <!--Site Category-->
        <div ng-if="searchBlogs.selectedItem.siteCategory">
            Site Category :
            <md-input-container>
                <label>To</label>
                <md-select name="siteCategory" ng-model="searchBlogs.blog.siteCategory" required>
                    <md-option ng-repeat="to in searchBlogs.hundredNo">
                        {{to}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <!--<span style="color: red" ng-show="searchForm.siteCategory.$invalid && searchForm.siteCategory.$dirty">
                        <span ng-show="searchForm.siteCategory.$error.required">Site category is required</span>
        </span>-->
        <!--DA-->
        <div ng-if="searchBlogs.selectedItem.DA">
            DA :
            <md-input-container>
                <label>Start</label>
                    <md-select name="DAto" ng-model="searchBlogs.blog.DA.$gte" required>
                        <md-option ng-repeat="to in searchBlogs.hundredNo">
                            {{to}}
                        </md-option>
                    </md-select>
            </md-input-container>
            <md-input-container>
                <label>End</label>
                    <md-select name="DAfrom" ng-model="searchBlogs.blog.DA.$lte" required>
                        <md-option ng-repeat="from in searchBlogs.hundredNo">
                            {{from}}
                        </md-option>
                    </md-select>
            </md-input-container>
        </div>
        <!--<span style="color: red" ng-show="searchForm.DAto.$invalid && searchForm.DAto.$dirty">
                        <span ng-show="searchForm.DAto.$error.required">DA To is required</span>
        </span>
        <span style="color: red" ng-show="searchForm.DAfrom.$invalid && searchForm.DAfrom.$dirty">
                        <span ng-show="searchForm.DAfrom.$error.required">DA From is required</span>
        </span>-->
        <!--PR-->
        <div ng-if="searchBlogs.selectedItem.PR">
            PR :
            <md-input-container>
                <label>Start</label>
                <md-select name="PRto" ng-model="searchBlogs.blog.PR.$gte" required>
                    <md-option ng-repeat="to in [0,1,2,3,4,5,6,7,8,9,10]">
                        {{to}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>End</label>
                <md-select name="PRfrom" ng-model="searchBlogs.blog.PR.$lte" required>
                    <md-option ng-repeat="from in [0,1,2,3,4,5,6,7,8,9,10]">
                        {{from}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <!--<span style="color: red" ng-show="searchForm.PRto.$invalid && searchForm.PRto.$dirty">
                        <span ng-show="searchForm.PRto.$error.required">PR To is required</span>
        </span>
        <span style="color: red" ng-show="searchForm.PRfrom.$invalid && searchForm.PRfrom.$dirty">
                        <span ng-show="searchForm.PRfrom.$error.required">PR From is required</span>
        </span>-->
        <!--TF-->
        <div ng-if="searchBlogs.selectedItem.TF">
            TF :
            <md-input-container>
                <label>Start</label>
                <md-select name="TFto" ng-model="searchBlogs.blog.TF.$gte" required>
                    <md-option ng-repeat="to in searchBlogs.hundredNo">
                        {{to}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>End</label>
                <md-select name="TFfrom" ng-model="searchBlogs.blog.TF.$lte" required>
                    <md-option ng-repeat="from in searchBlogs.hundredNo">
                        {{from}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <!--<span style="color: red" ng-show="searchForm.TFto.$invalid && searchForm.TFto.$dirty">
                        <span ng-show="searchForm.TFto.$error.required">PR To is required</span>
        </span>
        <span style="color: red" ng-show="searchForm.TFfrom.$invalid && searchForm.TFfrom.$dirty">
                        <span ng-show="searchForm.TFfrom.$error.required">PR From is required</span>
        </span>-->
        <!--Site Type-->
        <div ng-if="searchBlogs.selectedItem.siteType">
            Site Type :
            <md-input-container>
                <label>Site Type</label>
                <md-select name="siteType" ng-model="searchBlogs.blog.siteType" required>
                    <md-option>
                        Real
                    </md-option>
                    <md-option>
                        BPN
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <!--<span style="color: red" ng-show="searchForm.siteType.$invalid && searchForm.siteType.$dirty">
                        <span ng-show="searchForm.siteType.$error.required">Site Type is required</span>
        </span>-->

        <input type="button" value="Check" ng-click="searchBlogs.search()">

       <!-- &lt;!&ndash;DA&ndash;&gt;
        <div ng-if="searchBlogs.selectedBox[2]">
            <md-input-container>
                <label>Strat</label>
                <md-select>
                    <md-option>

                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>End</label>
                <md-select>
                    <md-option>

                    </md-option>
                </md-select>
            </md-input-container>
        </div>-->
       <!-- &lt;!&ndash;PR&ndash;&gt;
        <div ng-if="searchBlogs.selectedBox[3]">

        </div>-->
    </form>

    <div id="exportable">
        <table width="100%" border="1">
            <thead>
            <tr>
                <th>S.no</th>
                <th>Blogger Name</th>
                <th>Blog Url</th>
                <th>Site Category</th>
                <th>DA</th>
                <th>PR</th>
                <th>TF</th>
                <th>Site Type</th>
                <th>Pre-Written Rate</th>
                <th>Blogger Write Rate</th>
                <th>Accept Do follow</th>
                <th>Negotiated</th>
                <th>Contact Details</th>
                <th>Blog Source</th>
                <th>Comments</th>
                <th>Participated</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in searchBlogs.matchedItem">
                <td>{{$index+1}}</td>
                <td>{{item.bloggerName}}</td>
                <td>{{item.blogUrl}}</td>
                <td>{{item.siteCategory}}</td>
                <td>{{item.DA}}</td>
                <td>{{item.PR}}</td>
                <td>{{item.TF}}</td>
                <td>{{item.siteType}}</td>
                <td>{{item.preWrittenRate}}</td>
                <td>{{item.bloggerWriteRate}}</td>
                <td>{{item.acceptDofollow}}</td>
                <td>{{item.negotiated}}</td>
                <td>{{item.contactDetails}}</td>
                <td>{{item.blogSource}}</td>
                <td>{{item.comments}}</td>
                <td>{{item.participated}}</td>
                <td>
                    <md-menu>
                        <md-button ng-click="searchBlogs.openMenu($mdOpenMenu, $event)">
                            <ng-md-icon size="30" icon="expand_more"></ng-md-icon>
                            <md-tooltip>
                                Expand
                            </md-tooltip>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="searchBlogs.updateBlog($event,item,$index)">
                                    Update
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="searchBlogs.deleteBlog(item._id,$index)">
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>