

<div>
    <h1>Search Blogs Dashboard</h1>

    <button ng-click="searchBlogs.exportExcelFile()">Export</button>

    <md-input-container class="md-block" flex-gt-sm>
        <label>Select</label>
        <md-select ng-model="searchBlogs.val" ng-change="searchBlogs.getSelectedItem()">
            <md-option ng-repeat="(searchKey,searchVal) in searchBlogs.searchBy" value="{{searchKey}}">
                {{searchVal}}
            </md-option>
        </md-select>
    </md-input-container>

    <div id="exportable">
        <table width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>DoB</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in searchBlogs.items">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.dob | date:'MM/dd/yy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>